* {
    margin: 0%;
    padding: 0%;
}

.navbar {
    background-color: #0a0b27;
    width: 100%;
}

.img {
    width: 120px;
    margin-left: 15PX;
}

.navbar-nav {
    align-items: center;
    margin-left: 30%;

}

.nav-item {
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: large;
    padding: 10px;
}

.navbar-nav a:hover {
    color: red !important;
}

@media(max-width:1511px) {
    .nav-item {
        padding: 10px;
    }
}

@media(max-width:1496px) {
    .nav-item {
        padding: 10px;
    }
}

@media(max-width:1403px) {
    .navbar-nav {
        margin-left: 20%;
    }
}

@media(max-width:1262px) {
    .navbar-nav {
        margin-left: 10%;
    }
}

@media(max-width:1137px) {
    .navbar-nav {
        margin-left: 3%;
    }

    .navbar-light .navbar-toggler-icon {
        background-color: white;

    }
}

@media(max-width:1106px) {
    .navbar-nav {
        margin-left: 0%;
        font-size: xx-small;
        font-weight: lighter;
    }

}

.section-2 {
    width: 100%;
}
.section-3{
    width: 100%;
}
.sec3-img{
    height: 954px;
    background-color: black;
    
    
}
.sec3-text{
    background-color: white;
}
#image{
    width: 200px;
   margin-left: 200px;
}

#text{
    text-align: center;
    font-size: 80px;
    font-weight: 800;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    

}
#text-2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    line-height: 1.5;
    text-align: left;
    padding: 111px;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: -82px;
    
}
@media(max-width:1500px){
    #image{
        width: 200px;
      margin-left: 200px;
    }
}
@media(max-width:1231px){
    #image{
        width: 150px;
       margin-left: 180PX;
       margin-top: 100px;
    }
    #text-2{
        line-height: 1.3;
        font-size: larger;
    }
}
@media(max-width:992px){
    #image{
        width: 150px;
       margin-left: 400px;
       
    }
    #text-2{
        line-height: 1.5;
        font-size: 24px;
        padding: 0%;
    }
}
@media(max-width:860px){
    #image{
        width: 150px;
       margin-left: 300px;
       
    }
    #text-2{
        line-height: 1.5;
        font-size: 24px;
        padding: 0%;
    }
}
@media(max-width:630px){
    #image{
        width: 100px;
       margin-left: 250px;
       
    }
    #text-2{
        line-height: 1.5;
        font-size: 24px;
        padding: 0%;
    }
}
@media(max-width:578px){
    #image{
        width: 100px;
       margin-left: 200px;
       
    }
    #text{
        font-size: 50px;
    }
    #text-2{
        line-height: 1.5;
        font-size: 24px;
        padding: 0%;
    }
}
@media(max-width:440px){
    #image{
        width: 100px;
       margin-left: 150px;
       
    }
    #text{
        font-size: 50px;
    }
    #text-2{
        line-height: 1.5;
        font-size: 24px;
        padding: 10px;
    font-weight: 500;
    margin-top: 10px;
    }
}
.social{
    margin-left: 110px;
}
@media(max-width:992px){
    .social{
        margin-top: 90px;
        
    }
}
.section-4{
    width: 100%;

}
.image-2{
    width: 100%;
}
.footer-text{
    padding: 10%;
}
.footer-text a{
    font-weight: bold;
    text-decoration: none;
    color: #0a0b27;
}
.footer-text a:hover{
    color: red;
}
.links:hover{
    background-color: red;
}